.dark .projects-wrapper .section-search input {
	background: black !important;
	height: 3.25rem !important;
	font-size: 1.3rem !important;
	width: 100%;
	max-width: 60rem;
}

.dark .projects-wrapper > h1 {
	color: black !important;
}
