/* dark them styling for contact-form component page */
.dark section.contact {
	background: #1c1c1c;
}

.dark section.contact h1 {
    /* stylelint-disable scss/no-global-function-names */
	color: lighten($tailwind-dark-orange, 5%);
}

.dark label.label {
	color: darken($tailwind-lightest-orange, 2.5%);
}

button {
	cursor: pointer;
	font: inherit;
}

.dark div > .contact-btn-submit {
	background-color: lighten($tailwind-dark-orange, 1.25%);
	color: #000;

	&:hover {
		background-color: darken($tailwind-lightest-orange, 1.5%);
	}
}
