/* @use functions */
@use 'sass:color';

/* dark theme styling for footer */

/* dark footer anchor styling */
.dark footer a {
	/* stylelint-disable scss/no-global-function-names */
	color: color.adjust($tailwind-lighter-orange, $lightness: 7.5%);
}

/* dark footer social icons styling  */

.dark div > div.footer-email,
.dark div > div.footer-github,
.dark div > div.footer-twitter,
.dark div > div.footer-linkedin,
.dark div > div.footer-sitemap,
.dark div > div.footer-tumblr,
.dark div > div.footer-dev,
.dark div > div.footer-patreon {
	fill: color.adjust($aussie-blue, $lightness: -12.5%);

	&:hover {
		fill: color.adjust($tailwind-dark-orange, $lightness: -1.25%);
		transition: fill 2s ease-out;
	}
}

.dark .footer {
	background: #1c1c1c;
}

.dark .footer > p {
	color: $ghost-white;
}
