/* global styles for headings */
h1,
h2,
h3 {
	font-family: var(--oswald-font);
}

h2 {
	font-size: 1.75rem;
	line-height: 2.25rem;
	margin-bottom: 1rem;
	margin-top: -1rem;
	padding: 2.25rem 0 0;
	@media #{$min-768} {
		font-size: 2rem;
	}
}

h3 {
	font-size: 1.5rem;
	line-height: 2.25rem;
	margin-bottom: 1rem;
	padding: 1.25rem 0 0;
	@media #{$min-768} {
		font-size: 1.75rem;
	}
}

.dark h1,
.dark h2,
.dark h3 {
	/* stylelint-disable scss/no-global-function-names */
	color: lighten($tailwind-dark-orange, 5%);
}

.dark h2 a,
.dark h3 a {
	color: lighten($tailwind-dark-orange, 5%) !important;
}
