html {
	scroll-behavior: smooth;
}

/* dark theme styling for post-content */
ul {
	margin-bottom: 1rem;

	& li {
		list-style-type: square;
		margin-left: 1rem;

		& ul > li {
			list-style-type: circle;

			& ul > li {
				list-style-type: square;

				& ul > li {
					list-style-type: circle;
				}
			}
		}
	}
}

.content .image + p {
	text-align: center;
}

ol {
	/* stylelint-disable-next-line no-descending-specificity */
	& li {
		list-style: decimal;
		margin-left: 2rem;
	}
}

.dark ol {
	color: $white;
}

a {
	text-decoration: none;
	color: #8d0a9d;
	word-break: break-all;
}

a:hover {
	text-decoration: underline;
}

/* dark theme styling for global anchor element and global .tag class selector  */
.dark a,
.dark .tag {
	/* stylelint-disable scss/no-global-function-names */
	color: darken($tailwind-lightest-orange, 2.5%);
}

.dark blockquote a {
	// color: $tailwind-dark-orange;
	color: #512052;
}

p {
	margin-bottom: 1rem;
	margin-top: 1rem;
	word-break: break-all;
}

.dark main p,
.dark main ul {
	color: $white;
}

blockquote {
	margin-left: 1rem;
	padding-left: 0.5rem;
	border-left: 4px solid darken($aussie-blue, 30%);
	background-color: var(--color-grey-200);
}

.dark strong {
	color: $ghost-white;
}

/* styling for inline code workaround */
.inline-code {
	color: darken(#d1d1d1, 45%);
}

.dark .inline-code {
	color: darken(#c0c0c0, 20%);
}

/* stylelint-disable no-descending-specificity */
.inline-code,
.dark .inline-code {
	word-break: break-all;
}

/* dark theme for hero for post content article element  */
.dark .content {
	background: darken(#1c1c1c, 1.25%);
}

/* dark theme for pre element in post-content */
.dark .pre pre {
	background: lighten(#1c1c1c, 5%) !important;
}

/* dark theme styling for post item */
.dark .time {
	color: darken($tailwind-lighter-orange, 2.5%);
}

/* styling for copy code button */

.blog-pre {
	margin-bottom: 0.5em !important;
	/* stylelint-disable property-no-vendor-prefix */
	/* stylelint-disable color-function-notation */
	-webkit-box-shadow: -10px 0 13px -7px #000, 10px 0 13px -7px #000,
		35px -23px 2px -16px rgba(0 0 0 / 0%);
	box-shadow: -10px 0 13px -7px #000, 10px 0 13px -7px #000,
		35px -23px 2px -16px rgba(0 0 0 / 0%);
	position: relative;
}

/* table styling in dark mode */

.dark .content table {
	color: $white;
}
