ul>li figure {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;

  /* stylelint-disable declaration-block-no-redundant-longhand-properties */
  border-top-left-radius: 6px;
}

ul>li figure img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  @media #{$min-768} {
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
  }
}