.dark .provider-list li:first-child {

	/* stylelint-disable scss/no-global-function-names */
	background: darken($aussie-blue, 12.5%);
	border-radius: 5px;
	color: #000;
	font-size: 1.4rem;
	list-style-type: none;
	margin-left: 0;
	padding: 0.5rem;

	& button {
		color: #000;
		
		&:hover {
			color: $ghost-white;
			transition: color 1.5s ease-in-out;
		}	
	}

	&:hover {
		background-color: darken($tailwind-dark-orange,1.25%);
		transition: background-color 1.5s ease-in-out;
	}
}
