/* styling for scroll buttons. had to be added in global scope to work */

.buttons-container {
	margin-top: 30px;
	width: 100%;
	height: $icon-size;
}

span.material-icons {
	position: relative;
	color: $aussie-blue;
	font-size: $icon-size;
	transition: all 0.25s ease;
}