/* @use functions */
@use 'sass:color';

/* dark social share icon styling */
.dark div > div.share-hacker-news,
.dark div > div.share-twitter,
.dark div > div.share-reddit,
.dark div > div.share-linkedin,
.dark div > div.share-tumblr {
    /* stylelint-disable scss/no-global-function-names */
	fill: color.adjust($aussie-blue, $lightness: 2.5%);

	&:hover {
		fill: color.adjust($tailwind-dark-orange, $lightness: -2.5%);
		transition: fill 1s ease-out;
		transform: rotate3d(0, 0, 0, 0deg);
	}
}