/* scss variables */
$min-768: '(min-width: 768px)';

/* stylelint-disable scss/no-global-function-names */

.projects {
	margin: var(--size-8) auto 0;
	max-width: 60rem;
	width: 90%;
}

.projects > h1 {
	color: darken(#1c1c1c, 1.25%);
	font-family: var(--oswald-font);
	font-size: var(--size-12);
	text-align: center;
	@media #{$min-768} {
		font-size: var(--size-16);
	}
}
