/* scss variables */
$min-768: '(min-width: 768px)';

.contact {
	background-color: var(--color-grey-100);
	border-radius: 6px;
	box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
	font-size: var(--size-6);
	margin: var(--size-8) auto;
	max-width: 50rem;
	padding: var(--size-4);
	width: 90%;
}

.contact > h1 {
	font-family: var(--oswald-font);
	font-size: var(--size-8);
	margin: var(--size-4) 0;
	text-align: left;
	@media #{$min-768} {
		font-size: var(--size-16);
		text-align: center;
	}
}

.form label {
	display: block;
	font-family: Oswald, sans-serif;
	font-weight: bold;
	margin: var(--size-2) 0 var(--size-1) 0;
}

.form input,
.form textarea {
	background-color: var(--color-grey-50);
	border: 1px solid var(--color-grey-400);
	border-radius: 4px;
	font: inherit;
	padding: var(--size-1);
	resize: none;
	width: 100%;
}

.controls {
	column-gap: 1rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.control {
	flex: 1;
	min-width: 10rem;
}

.actions {
	margin-top: var(--size-4);
	text-align: right;
}

.form button {
	background-color: var(--color-primary-700);
	border: 1px solid var(--color-primary-700);
	border-radius: 4px;
	box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
	color: var(--color-primary-50);
	cursor: pointer;
	font: inherit;
	padding: var(--size-2) var(--size-4);
}

.form button:hover {
	background-color: var(--color-primary-500);
	border-color: var(--color-primary-500);
}
