/* scss variables */
$min-768: '(min-width: 768px)';

.latest {
  margin: var(--size-8) auto;
  max-width: 80rem;
  width: 90%;
}

.latest>h2 {
  color: var(--color-grey-800);
  font-size: var(--size-8);
  text-align: center;
  @media #{$min-768} {
    font-size: var(--size-16);
  }
}