/* scss variables */
$min-768: '(min-width: 768px)';

/* stylelint-disable scss/no-global-function-names */

.latest {
  margin: var(--size-8) auto;
  max-width: 80rem;
  width: 90%;
}

.latest>h2 {
  color: darken(#1c1c1c, 1.25%);
  font-size: var(--size-12);
  text-align: center;
  @media #{$min-768} {
    font-size: var(--size-16);
  }
}