/* scss variables */
$min-360: '(min-width: 360px)';
$min-768: '(min-width: 768px)';
$min-1024: '(min-width: 1024px)';

/* main-navigation styling */

/* stylelint-disable scss/no-global-function-names */

.footer-header {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 10%;
	width: 100%;
}

.footer-header ul {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	@media #{$min-1024} {
		gap: 0.5rem;
		margin: 6rem 0 0;
	}
}

.footer-header li {
	@media #{$min-1024} {
		margin: 0 var(--size-4);
	}
}

.footer-header a {
	color: #1c1c1c;
	font-size: var(--size-7);

	@media #{$min-1024} {
		// color: #fff;
		margin-top: -4.25rem;
	}
}

.footer-header a:hover,
.footer-header a:active,
.footer-header a.active {
	color: var(--color-grey-200);
}
