/* color variables 2 */
$peppermint-blush-white: #f2ebe3;
$tailwind-peppermint-green: #14b8a6;

.footer {
	width: 100%;
	background: $peppermint-blush-white;
	margin-bottom: -0.5rem;
	padding-top: 1rem;
}

.provider-wrapper {
	margin: 0 auto 4rem;
}

.sign-in,
.follow {
	text-align: center;
}

.svg-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: center;
	margin-bottom: 3rem;
}

.footer > p {
	/* stylelint-disable scss/no-global-function-names */
	color: darken(#1c1c1c, 1.25%);
	font-size: 1.3rem;
	letter-spacing: 0.09em;
	margin-bottom: 0.5rem;
	text-align: center;
	width: 100%;
}

.svg-wrapper > div.footer-email,
.svg-wrapper > div.footer-github,
.svg-wrapper > div.footer-twitter,
.svg-wrapper > div.footer-linkedin,
.svg-wrapper > div.footer-sitemap,
.svg-wrapper > div.footer-tumblr {
	height: 3.5rem;
	width: 3.5rem;
	fill: darken(#1c1c1c, 15%);

	&:hover {
		fill: $tailwind-peppermint-green;
		transition: all 1s ease-out;
	}
}

.svg-wrapper > div.footer-email {
	height: 3.75rem;
	margin-right: 0.5rem;
	width: 3.75rem;
}

.svg-wrapper > div.footer-sitemap {
	height: 3.875rem;
	margin-left: -0.5rem;
	margin-top: -0.25rem;
	width: 3.875rem;
}

.svg-wrapper > div.footer-linkedin {
	margin-right: -0.5rem;
}

.svg-wrapper > div.footer-tumblr {
	margin-top: -0.5rem;
	margin-left: -0.5rem;
}

/* Auth Sign in Sign out buttons */

.provider-button {
	background: #000;
	border-radius: 5px;
	color: ghostwhite;
	display: flex;
	font-size: 1rem;
	justify-content: center;
	list-style-type: none;
	margin: 1.5rem auto;
	padding: 0.5rem;
	text-decoration: none;
	width: 14rem;

	&:hover {
		background: darken($tailwind-peppermint-green, 12.5%);
		transition: background-color 1.5s ease-in-out;
	}
}
