.footer {
  width: 100%;
}

.svg-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer > p {

  /* stylelint-disable scss/no-global-function-names */
	color: darken(#1c1c1c, 1.25%);
	font-size: 1.3rem;
	letter-spacing: 0.09em;
  margin-bottom: 0.5rem;
	text-align: center;
	width: 100%;
}

.svg-wrapper > div.email, .svg-wrapper > div.github, .svg-wrapper > div.twitter, .svg-wrapper > div.linkedin, .svg-wrapper > div.sitemap {
	height: 3rem;
  width: 3rem;
}

.footer > a > svg {
	fill: #1c1c1c;
}
