/* @use functions */
@use 'sass:color';

/* color variables */
$tailwind-dark-orange: rgb(202 96 60 / 100%);
$cream: #ffe9d6;
$discord-charcoal: #23272a;

/* scss variables */
$min-360: '(min-width: 360px)';
$min-768: '(min-width: 768px)';
$min-1024: '(min-width: 1024px)';

/* footer navigation styling */

/* stylelint-disable scss/no-global-function-names */

// .footer-header {
// 	align-items: center;
// 	display: flex;
// 	justify-content: center;
// 	margin: 0;
// 	padding: 0 10%;
// 	width: 100%;
// }

// .footer-header ul {
// 	align-items: flex-start;
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	list-style-type: none;
// 	margin: 0;
// 	padding: 0;

// 	@media #{$min-1024} {
// 		gap: 0.5rem;
// 		margin: 3rem;
// 	}
// }

// .footer-header li {
// 	list-style-type: none;
// 	margin: 1.5rem 0.75rem 1.5rem;

// 	@media #{$min-1024} {
// 		margin: 1.5rem var(--size-4);
// 	}
// }

// .footer-header a {
// 	color: #1c1c1c;
// 	font-size: var(--size-7);

// 	@media #{$min-1024} {
// 		// margin-top: -4.25rem;
// 	}
// }

// .footer-header a:hover,
// .footer-header a:active {
// 	color: #4a5d23;
// }

// .footer-header a:global(.footer-active) {
// 	color: #7a1330;
// }

// .footer-header :global(.footer-navigation-underline.footer-active) {
// 	align-self: flex-start;
// 	width: fit-content;

// 	&::before,
// 	&::after {
// 		content: '';
// 		position: absolute;
// 		width: 100%;
// 		height: 2px;
// 		bottom: 0;
// 		left: 0;
// 		background-color: #7a1330;
// 		visibility: visible;
// 		transform: scaleX(1);
// 	}
// }

// :global(.dark)
// 	.footer-header
// 	:global(.footer-navigation-underline.footer-active) {
// 	align-self: flex-start;
// 	width: fit-content;

// 	&::before {
// 		content: '';
// 		position: absolute;
// 		width: 100%;
// 		height: 2px;
// 		bottom: 0;
// 		left: 0;
// 		background: color.adjust($tailwind-dark-orange, $lightness: 3.5%);
// 		transition: background-color 3s ease-in-out;
// 	}

// 	&::after {
// 		content: '';
// 		position: absolute;
// 		bottom: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 2px;
// 		background: color.adjust($tailwind-dark-orange, $lightness: 3.5%);
// 		transition: background-color 3s ease-in-out;
// 	}
// }

// :global(.dark) .footer-header a {
// 	color: rgb(245 245 245);
// 	font-weight: 500;

// 	&:hover {
// 		color: color.adjust($cream, $lightness: -15%);
// 		text-shadow: 1px 1px 2px $discord-charcoal;
// 		transition: color 0.5s ease-in-out;
// 	}
// }

// :global(.dark) .footer-header a:global(.footer-active) {
// 	color: color.adjust($tailwind-dark-orange, $lightness: 3.5%);
// 	font-weight: 500;
// 	text-shadow: 1px 1px 2px $discord-charcoal;
// 	transition: all 0.5s ease-in-out;

// 	&:hover {
// 		color: color.adjust($cream, $lightness: -15%);
// 		transition: all 0.5s ease-in-out;
// 	}
// }

.footer-header {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 10%;
	width: 100%;
}

.footer-header ul {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;

	// @media #{$min-1024} {
	// 	gap: 0.5rem;
	// 	margin: 3rem;
	// }
}

.footer-header li {
	list-style-type: none;
	margin: 1.5rem 0.75rem 1.5rem;

	// @media #{$min-1024} {
	// 	margin: 1.5rem var(--size-4);
	// }
}

.footer-header a {
	color: #1c1c1c;
	font-size: var(--size-7);

	// @media #{$min-1024} {
	// 	margin-top: -4.25rem;
	// }
}

:global(.footer-menu-link) {
	@media #{$min-1024} {
		margin: 1rem;
	}
}

.footer-header a:hover,
.footer-header a:active {
	color: #4a5d23;
}

.footer-header a:global(.footer-active) {
	color: #7a1330;
}

.footer-header :global(.footer-navigation-underline.footer-active) {
	align-self: flex-start;
	width: fit-content;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #7a1330;
		visibility: visible;
		transform: scaleX(1);
	}
}

:global(.dark)
	.footer-header
	:global(.footer-navigation-underline.footer-active) {
	align-self: flex-start;
	width: fit-content;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background: color.adjust($tailwind-dark-orange, $lightness: 3.5%);
		transition: background-color 3s ease-in-out;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: color.adjust($tailwind-dark-orange, $lightness: 3.5%);
		transition: background-color 3s ease-in-out;
	}
}

:global(.dark) .footer-header a {
	color: rgb(245 245 245);
	font-weight: 500;

	&:hover {
		color: color.adjust($cream, $lightness: -15%);
		text-shadow: 1px 1px 2px $discord-charcoal;
		transition: color 0.5s ease-in-out;
	}
}

:global(.dark) .footer-header a:global(.footer-active) {
	color: color.adjust($tailwind-dark-orange, $lightness: 3.5%);
	font-weight: 500;
	text-shadow: 1px 1px 2px $discord-charcoal;
	transition: all 0.5s ease-in-out;

	&:hover {
		color: color.adjust($cream, $lightness: -15%);
		transition: all 0.5s ease-in-out;
	}
}
