/* scss variables */;
$min-360: '(min-width: 360px)';
$min-1024: '(min-width: 1024px)';

.logo {
  color: var(--color-grey-50);
  font-family: Oswald, sans-serif;
  font-size: var(--size-8);
  font-weight: bold;
  left: 1.125rem;
  margin: 0;
  max-width: 6rem;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  top: 1.5rem;
  width: 100%;
  @media #{$min-360} {
    font-size: var(--size-10);
    top: 1.125rem;
  }
  @media #{$min-1024} {
    left: 6rem;
  }
}