/* stylelint-disable color-function-notation */

.notification {
  align-items: center;
  background-color: var(--color-grey-800);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 20%);
  bottom: 0;
  color: var(--color-grey-100);
  display: flex;
  height: 5rem;
  justify-content: space-between;
  left: 0;
  padding: 0 var(--size-8);
  position: fixed;
  width: 100%;
}

.notification h2 {
  font-size: var(--size-6);
  margin: 0 1.5rem 0 0;
}

.notification p {
  margin: 0;
}

.success {
  background-color: var(--color-success-500);
  color: var(--color-grey-800);
}

.error {
  background-color: var(--color-error-500);
}

@media (min-width: 768px) {
  .notification {
    left: calc(50% - 50%);
    width: 100%;
  }
}
