/* color variables 2 */
$aussie-blue: #80d0ff;

.projects-grid {
	list-style-type: none;
	margin: 3rem auto 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	width: 100%;
}

.projects-search {
	background: $aussie-blue;
	height: 3.25rem;
	font-size: 1.3rem;
}
