/* color vcariables */
$aussie-blue: #80d0ff;
$cream: #ffe9d6;
$light-mint: #c7e9c0;
$light-sky-blue: #99d1e7;
$pastel-green: #31a354;
$light-pink: pink;
$antique-white: antiquewhite;
$french-yellow: #fff100;
$border-radius: 0.5;

/* icon related variables */
$icon-font: 2em;
$icon-size: 2.81rem;

/* stylelint-disable scss/no-global-function-names */
$icon-background: darken(#1c1c1c, 1.25%);

/*  scroll */
.scroll {
	position: fixed;
	right: 0;
	width: $icon-size;
	height: $icon-size;
	text-align: center;
	line-height: $icon-size;
	font-size: 2.5rem;
	text-decoration: none;
	z-index: 9;
	cursor: pointer;
	margin-left: $icon-size/5;
	margin-right: $icon-size/5;
	border-radius: $icon-size * $border-radius;
	overflow: hidden;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: all 0.25s ease;
		border-radius: $icon-size * $border-radius;
	}

	&.bottom {
		top: 0.75rem;
		right: 0;

		&.material-icons {
			margin-top: $icon-size/20;
		}
	}

	&.top {
		bottom: 0;
		right: 0;
		margin-bottom: 0.75rem;
	}
}

button.scroll.bottom,
button.scroll.top {
	cursor: pointer;
	outline: none;
	border: none;
}

.icon-fill {
	&::before {
		transition-duration: 0.5s;
		box-shadow: inset 0 0 0 1px $icon-background;
	}

	&:hover::before {
		box-shadow: inset 0 0 0 6rem $cream;
	}
}
