/* scss variables */
$min-768: '(min-width: 768px)';

/* @use functions */
@use 'sass:color';

/* stylelint-disable scss/no-global-function-names */

.project-tag,
.post-tag {
	margin-left: auto;
	margin-right: auto;
	max-width: 60rem;
	width: 90%;
}

.project-tag > li figure,
.post-tag > li figure {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;

	/* stylelint-disable declaration-block-no-redundant-longhand-properties */
	border-top-left-radius: 6px;
}

.project-tag > li figure img,
.post-tag > li figure img {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

	@media #{$min-768} {
		border-bottom-left-radius: 6px;
		border-top-right-radius: 0;
	}
}

.project-tag > h1,
.post-tag > h1 {
	font-size: var(--size-8);
	margin: var(--size-8) auto;
	text-align: center;

	@media #{$min-768} {
		font-size: var(--size-12);
	}
}

.dark .project-tag > h1,
.dark .post-tag > h1 {
	color: color.adjust(#fff, $lightness: -1.25%) !important;
}
